@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS VARIABLES */ 
:root {
    --WHITE : hsl(0, 0%, 98%);
    --GRAY: hsl(0, 0%, 41%);
    --BLACK: hsl(0, 0%, 8%);
}
body {
    font-size: 18px;
    font-family: "Epilogue", system-ui;
    background-color: var(--WHITE);
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}
.logo {
    margin-top: 12px;
}
.nav_section {
    display: flex;
    /* gap: 46rem; */
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
.mobile_nav_section {
    display: none;
}
.mobile_nav_toggle {
    display: none;
}
/* .navigation {
    width: 10%;

} */
.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
    position: relative;
}
span {
    margin-inline-start: .5rem;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--GRAY);
    font-size: .8rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
}
a:hover {
    color: var(--BLACK);
}
.sign_up {
    display: flex;
    gap: 2rem;
    /* width: 13%; */
}
.log_button {
    border: 0;
    padding: .8rem;
    font-family: inherit;
    color: var(--GRAY);
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}
.register_button {
    padding: .8rem;
    font-family: inherit;
    color: var(--GRAY);
    font-weight: 700;
    border: 2px solid var(--GRAY);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}
.info_section {
    display: flex;
    padding: 4rem;
    height: 90vh;
}
.first_section {
    width: 60%;
    padding-top: 8rem;
    padding-left: 14rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.remote_heading {
    width: 66%;
}
h1 {
    font-size: 6rem;
}
.remote_info {
    width:65%;
}
.info {
    font-family: inherit;
    font-weight: 500;
    color: var(--GRAY);
    font-size: 1.5rem;
}
.learn_more_button {
    /* padding: 1rem; */
    width: 12rem;
    height: 4rem;
    /* padding: .5rem; */
    font-weight: 700;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: var(--BLACK);
    color: var(--WHITE);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.learn_more_button:hover {
    background-color: var(--WHITE);
    color: var(--BLACK);
    border: 1.5px solid var(--GRAY);
}
.sponsors {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    width: 90%;
}
.second_section {
    width: 35%;
}
.sub_menu1 {
    /* border: 1px solid red; */
    width: 11rem;
    /* padding: 2rem; */
    background-color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    top: 2rem;
    left: -4.2rem;
    display: none;
}
.mobile_sub_menu1 {
    width: 11rem;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-left: 2rem;
    display: none;
}
.sub_menu1 li {
    font-size: 1.2rem;
    display: inline-flex;
    gap: 1rem;
    margin-top: 1rem;
}
.mobile_sub_menu1 li {
    font-size: 1.2rem;
    display: inline-flex;
    gap: 1rem;
    margin-top: 1rem;
}
.sub_menu2 {
    width: 10rem;
    height: 8rem;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 1rem;
    position: absolute;
    top: 2rem;
    left: 9rem;
    display: none;
}
.mobile_sub_menu2 {
    width: 10rem;
    height: 8rem;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 1rem;
    margin-left: 2rem;
    display: none;
}
.sub_menu2 li {
    font-size: 1rem;
    margin-top: .7rem;
}
.mobile_sub_menu2 li {
    font-size: 1rem;
    margin-top: .7rem;
}
.features_arrow_down {
    transition: transform 0.3s ease;
}
.mobile_features_arrow_down {
    transition: transform 0.3s ease;
}
.company_arrow_down {
    transition: transform 0.3s ease;
}
.mobile_company_arrow_down {
    transition: transform 0.3s ease;
}
.dropdown_toggle {
    border: 0;
    background-color: transparent;
}
.features_dropdown_toggle {
    border: 0;
    background: transparent;
}
.company_dropdown_toggle {
    border: 0;
    background-color: transparent;
}
.mobile_company_dropdown_toggle {
    border: 0;
    background-color: transparent;
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* body {
        background-color: green;
    } */
     .navigation {
        border: 1px solid black;
        width: 50%;
     }
     .nav_section {
        width: 87%;
     }
     .first_section {
        padding-left: 5rem;
        gap: 4rem;
     }
     h1 {
        font-size: 4rem;
     }
     .remote_heading {
        width: 100%;
     }
     .info {
        font-size: 1.1rem;
     }
     .remote_info {
        width: 100%;
     }
     .sponsors {
        /* width: 50%; */
        gap: 1rem;
     }
}
@media (min-width: 1000px) {
    .remote_heading {
        width: 98%;
    }
    .sponsors {
        margin-top: 17rem;
    }
}
@media (min-width: 1200px) {
    .navigation {
        width: 45%;
    }
    .nav_section {
        width: 87%;
    }
    .first_section {
        padding-left: 7rem;
        gap: 3.5rem;
    }
    h1 {
        font-size: 4.5rem;
    }
    .remote_heading {
        width: 93%;
    }
    .remote_info {
        width: 98%;
    }
    .info {
        font-size: 1.3rem;
    }
}
@media (min-width: 1206px) {
    .remote_heading {
        width: 90%;
    }
}
@media (min-width: 1234px) {
    .remote_heading {
        width: 87%;
    }
    .navigation {
        width: 70%;
        border: 2px solid red;
    }
}
@media (min-width: 1266px) {
    .remote_heading {
        width: 85%;
    }
}
@media (min-width: 1290px) {
    .remote_heading {
        width: 83%;
    }
    .remote_info {
        width: 95%;
    }
}
@media (min-width: 1310px) {
    .remote_heading {
        width: 81%;
    }
    .remote_info {
        width: 84%;
    }
}
@media (min-width: 1338px) {
    .first_section {
        padding-left: 9rem;
    }
    .remote_heading {
        width: 83%;
    }
    .remote_info {
        width: 85%;
    }
}
@media (min-width: 1362px) {
    .remote_heading {
        width: 83%;
    }
}
@media (min-width: 1394px) {
    .remote_heading {
        width: 79%;
    }
    .first_section {
       padding-left: 9.5rem;
    }
}
@media (min-width: 1430px) {
    .remote_heading {
        width: 77%;
    }
}
@media (max-width: 545px) {
    .nav_section {
        display: none;
    }
    .mobile_nav_section {
        display: block;
        position: fixed;
        height: 100vh;
        inset: 0 0 0 40%;
        background-color: var(--WHITE);
        padding: min(30vh, 5rem) 2em;
        z-index: 9999;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .mobile_nav_section[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile_nav_items {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .mobile_nav_items a {
        font-size: 1.3rem;
    }

    .mobile_sign_up {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .mobile_register {
        width: 100%;
    }
    .register_button {
        width: 100%;
    }
    .info_section {
        flex-direction: column;
        padding: 0;
    }
    .second_section {
        order: -1;
        width: 100%;
        height: 50vh;
        margin-top: 2rem;
    }
    .first_section {
        padding-left: 0;
        width: 100%;
        padding-top: 2rem;
    }
    .remote_heading {
        width: 100%;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    .remote_info {
        width: 89.5%;
        margin: auto;
    }
    .info {
        font-size: 1.4rem;
    }
    .learn_more {
        width: 36%;
        margin: auto;
    }
    .sponsors {
        margin: auto;
        margin-top: 3.5rem;
    }
    .mobile_nav_toggle {
        display: block;
        background-image: url("./images/icon-menu.svg");
        position: absolute;
        top: .8rem;
        right: 2rem;
        width: 1.7rem;
        z-index: 10000;
        aspect-ratio: 1;
        background-color: transparent;
        background-repeat: no-repeat;
        border: 0;
    }
    .mobile_nav_toggle[aria-expanded="true"] {
        background-image: url("./images/icon-close-menu.svg");
    }
}

    /* .nav_section {
        position: fixed;
        inset: 0 0 0 40%;
        width: 40%;
        background-color: steelblue;
        flex-direction: column;
        padding: min(30vh, 5rem) 2em;
    }
    .nav_items {
      
        background-color: steelblue;
        flex-direction: column;
    }
    .sign_up {
        
    } */

/* @media (min-width: 1039px) {
    .remote_heading {
        width: 96%;
    }
}
@media (min-width: 1055px) {
    .remote_heading {
        width: 94%;
    }
    .remote_info {
        width: 84%;
    }
}
@media (min-width: 1083px) {
    .first_section {
        padding-left: 6rem;
    }
}
@media (min-width: 1099px) {
    .navigation {
        width: 35%;
    }
    .remote_heading {
        width: 92%;
    }
    .remote_info {
        width: 82%;
    }
}
@media (min-width: 1115px) {
    .remote_heading {
        width: 90%;
    }
    .remote_info {
        width: 80%;
    }
}
@media (min-width: 1135px) {
    .first_section {
        padding-left: 7rem;
    }
    .remote_heading {
        width: 88%;
    }
    .remote_info {
        width: 78%;
    }
}
@media (min-width: 1159px) {
    .first_section {
        border: 1px solid red;
        padding-left: 7rem;
    }
}
@media (min-width: 1179px) {
    .remote_heading {
        width: 86%;
    }
    .remote_info {
        width: 76%;
    }
}
@media (min-width: 1199px) {
    .remote_heading {
        width: 84%;
    }
    .remote_info {
        width: 74%;
    }
}

@media (min-width: 1219px) {
    .remote_heading {
        width: 82%;
    }
    .remote_info {
        width: 72%;
    }
}
@media (min-width: 1243px) {
    .remote_heading {
        width: 80%;
    }
    .remote_info {
        width: 70%;
    }
}
@media (min-width: 1267px) {
    .remote_heading {
        width: 78%;
    }
}
@media (min-width: 1291px) {
    .remote_heading {
        width: 76%;
    }
    .remote_info {
        width: 68%;
    }
}
@media (min-width: 1315px) {
    .remote_heading {
        width: 74%;
    }
    .remote_info {
        width: 66%;
    }
}
@media (min-width: 1343px) {
    .remote_heading {
        width: 72%;
    }
    .remote_info {
        width: 64%;
    }
}
@media (min-width: 1359px)  {
    .remote_heading {
        width: 70%;
    }
}
@media (min-width: 1387px) {
    .remote_heading {
        width: 69%;
    }
    .remote_info {
        width: 62%;
    }
}
@media (min-width: 1423px) {
    .remote_heading {
        width: 67%;
    }
}
@media (min-width: 1440px) {
    body {
        border: 1px solid green;
    }

    .remote_heading {
        border: 1px solid green;
        width: 65%;
    }
    .remote_info {
        border: 1px solid red;
        width: 58%;
    }
    .second_section {
        border: 1px solid brown;
    }
} */

/* @media (min-width: 1024px) and (max-width: 1240px) {
     body {
        border: 1px solid red;
     }
     .navigation {
        width: 35%;
     }
     .nav_section {
        width: 85%;
     }
     .info_section {
        padding: 3rem;
     }
     .remote_heading {
        width: 85%;
        border: 1px solid red;
     }
     .first_section {
        padding-left: 11rem;
        border:1px solid red;
     }
     .sub_menu1 li {
        border: 1px solid green;
        margin-top: .25rem;
     }
     .remote_info {
        width: 75%;
        border: 1px solid red;
     }
} */